server {
    listen  80;
    listen  [::]:80;
    server_name  notify-me.domain.ru;
    return       301 https://notify-me.domain.ru$request_uri;
}

server {
    listen      443 ssl;
    listen      [::]:443 ssl;
    server_name notify-me.domain.ru;

    ssl_protocols       TLSv1.2 TLSv1.3;
    ssl_dhparam         /etc/nginx/tls/dhparams.pem;
    ssl_prefer_server_ciphers on;
    ssl_certificate     /etc/nginx/tls/notify-me.domain.ru.cert.pem;
    ssl_certificate_key /etc/nginx/tls/notify-me.domain.ru.cert.key;
    ssl_session_cache   shared:SSL:10m;
    ssl_session_timeout 10m;
	
    access_log /var/log/nginx/notify-me.domain.ru.log with_ssl;
    error_log /var/log/nginx/notify-me.domain.ru-error.log;

    root /var/www/html;
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
    # telegram bot
    location /scripts {
        proxy_pass http://127.0.0.1:3127$request_uri;
    }
    location /webhook {
        proxy_pass http://127.0.0.1:3127$request_uri;
    }
    location /send-message {
        proxy_pass http://127.0.0.1:3127$request_uri;
    }
}
